
<div class="overflow-y-scroll " style="background-image: url('/assets/imgs/bg-group-3.jpeg'); background-size: contain; background-position: bottom; min-height: 100vh">
  <!-- HEADER -->
  <app-kapi-header [headerContent]="friendgroupName"></app-kapi-header>

  <!-- CONTENT -->
    <app-first-daily-prompt [imageUrl]="randomImageUrl" [groupData]="groupData" [actualPrompt]="actualPrompt" [category]="category" *ngIf="!everyoneHasUploaded"></app-first-daily-prompt>
    <app-second-daily-prompt [actualPrompt]="secondPrompt" *ngIf="everyoneHasUploaded"></app-second-daily-prompt>
</div>


<ng-template #friendgroupName>
  <h2 class="font-custom text-3xl text-white font-bold">{{groupData.name}}</h2>
  <app-fire [number]="streak"></app-fire>
</ng-template>

