<div
  class="menu flex justify-around items-center absolute z-10 bottom-0 w-full px-3 py-6 bg-white"
>
  <a [routerLink]="['/intro']" [routerLinkActive]="'active'">
    <app-home
      [size]="'32px'"
      [color]="router.url === '/intro' ? '#b27156' : '#6b6f57'"
    ></app-home>
  </a>
  <a [routerLink]="['/create-group']" [routerLinkActive]="'active'">
    <app-user
      [size]="'32px'"
      [color]="router.url === '/create-group' ? '#b27156' : '#6b6f57'"
    ></app-user>
  </a>
  <a [routerLink]="['/list-group']" [routerLinkActive]="'active'">
    <app-users
      [size]="'32px'"
      [color]="router.url === '/list-group' ? '#b27156' : '#6b6f57'"
    ></app-users>
  </a>
  <a [routerLink]="['/recap']" [routerLinkActive]="'active'">
    <app-menu-burger
      [size]="'32px'"
      [color]="router.url === '/recap' ? '#b27156' : '#6b6f57'"
    ></app-menu-burger>
  </a>
</div>
