<!--<form action="">-->
<div class="p-2">
  <div class="h-[45vh] relative">
    <img src="assets/imgs/img.png" class="object-cover w-full h-full" alt="" srcset="">
  </div>
  <div class="p-3">

  </div>
  <div class="flex flex-col w-full gap-5">
    <div class="px-4 w-full">
      <form action="" class="flex justify-center items-center gap-3 flex-col w-full" (ngSubmit)="signIn()" [formGroup]="formGroup">
        <app-input-d-square class="w-full" label="Email" type="email" placeholder="" formControlName="email" ></app-input-d-square>
        <app-input-d-square class="w-full" label="Password" type="password" placeholder="" formControlName="password" ></app-input-d-square>
        <input class="w-full px-5 py-3 rounded-lg bg-primary text-white mt-4"  type="submit">
      </form>
    </div>
    <div class="flex justify-center items-center gap-6 flex-col w-full">
      <span class="">Se connecter avec</span>
      <div class="w-full flex justify-around">
        <ion-icon name="logo-google" class="text-primary" (click)="signInWithGoogle()" size="large"></ion-icon>
        <ion-icon name="logo-facebook" class="text-primary" (click)="signInWithFacebook()" size="large"></ion-icon>
        <ion-icon name="logo-twitter" class="text-primary" (click)="signInWithTwitter()" size="large"></ion-icon>
      </div>
    </div>
  </div>
</div>
