<ion-content class="bg-white flex flex-col items-center p-4">
  <!-- Avatar + Message -->
  <div class="flex items-center space-x-3 w-full">
    <div
      class="w-16 h-16 rounded-full bg-[#fdf6f2] flex justify-center items-center"
    >
      <img src="assets/avatar.png" class="w-12 h-12 rounded-lg" />
    </div>
    <div
      class="bg-[#e8d5cd] text-sm text-gray-700 p-3 rounded-lg relative w-3/4"
    >
      <div
        class="absolute -left-3 top-1/2 transform -translate-y-1/2 border-l-[10px] border-l-transparent border-r-[10px] border-r-[#e8d5cd] border-t-[10px] border-t-transparent"
      ></div>
      Message ici...
    </div>
  </div>

  <!-- Image principale -->
  <div class="mt-4 w-4/5">
    <img src="assets/image.png" class="rounded-2xl w-full" />
  </div>

  <!-- Bouton Valider -->
  <ion-button class="w-4/5 mt-4 bg-[#b27156] text-white rounded-full">
    Valider
  </ion-button>

  <!-- Barre de navigation -->
  <div class="flex justify-around w-full mt-4">
    <ion-icon name="home-outline" class="text-[#6b6f57] text-2xl"></ion-icon>
    <ion-icon name="person-outline" class="text-[#6b6f57] text-2xl"></ion-icon>
    <ion-icon name="people-outline" class="text-[#6b6f57] text-2xl"></ion-icon>
    <ion-icon name="brush-outline" class="text-[#6b6f57] text-2xl"></ion-icon>
  </div>
</ion-content>
